@font-face {
font-family: 'Open Sans';
font-style: normal;
src: url('fonts/open_sans/Open%20Sans%20300.ttf') format('ttf');
}


body {
	font-family: 'Open Sans', times, arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	padding: 90px 20px 20px 20px;
	width: 100%;
	background: url('bg-trees.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x: hidden;
}

body.alt1 {
	background-image: url('bluebg.jpg');
}

.navbar-inverse {
	/*background: rgba(0, 0, 0, 0.25);*/
	background: none;
	border: 0px;
}

.settings-icon {
	font-size: 20px;
	text-shadow: 1px 1px 2px #252525;
}

.passage {
	padding: 20px;
	background: rgba(0, 0, 0, .55);
	color: #fff;
	margin: 10px auto 30px;
	border-radius: 8px;
}

.passage h2 {
	margin: 10px;
	font-size: 24px;
	font-weight: 700;
}

.more-icon {
	font-size: 14px;
	margin-left: 10px;
	color: #fff;
}

iframe {
	width: 100%;
	height: 70vh;
	position: relative;
}

.passage p.verse {
	margin-left: 55px;
	text-indent: -28px;
}

.passage .verse.single-digit {
	text-indent: -19px;
}

.verse_number {
	font-weight: 700;
}

.citation {
	font-style: italic;
	font-size: 10px;
	margin-left: 30px;
}


