@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,300');


body {
	font-family: 'Open Sans', times, arial, sans-serif;
	font-weight: 300;
	padding: 20px;
	width: 100%;
	background: url('lyonnette_blue.png') repeat;
}

.passage {
	width: 60%;
	border: 1px solid #d9cfcf;
	padding: 20px;
	background: #fff;
	margin: 10px auto 30px;
	border-radius: 8px;
	box-shadow: 12px 12px 20px #8a8a8a;
}

.passage h2 {
	margin: 10px;
	font-size: 24px;
	font-weight: 700;
}

.passage p.verse {
	margin-left: 55px;
	text-indent: -28px;
}

.verse_number {
	font-weight: 700;
}

.citation {
	font-style: italic;
	font-size: 10px;
	margin-left: 30px;
}


